# data
pandas==1.4.4
numpy==1.23.2

# visualisation
matplotlib==3.5.3
seaborn==0.12.0
plotly==5.10.0

# date and time


# serializers


# other stuff


# testing and linting
flake8==5.0.4
mypy==0.971
pytest==7.1.3
pytest-timeout==2.1.0
requests-mock==1.10.0
pytest-mock==3.8.2
pytest-cov==3.0.0
psutil==5.9.2
